body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

/* Sticky header */
header {
    background-color: #fff;
    color: black;
    /* padding: 10px 20px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Flexbox for header */
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login {
    display: flex;
    justify-content: flex-end;
}

#login button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

#login button:hover {
    background-color: #e68a00;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 15px 0;
    margin: 0;
    border-radius: 5px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900;
}

/* Search bar */
#search-bar {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.review-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.review-section a{
    text-decoration: none;;
}

.review-section a:visited{
    text-decoration: none;
    color: #333;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 10px;
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card h3 {
    margin: 0 0 10px;
    font-size: 22px;
}

.card p {
    margin: 5px 0;
    color: #555;
}

#gamingCarousel video {
    margin-top: 0.05px;
    max-height: 650px; /* Adjust to your desired height */
    object-fit: cover; /* Ensures the video scales proportionally */
  }

  #gamingCarousel .carousel-inner {
    height: auto; /* Ensures carousel adjusts to video content */
  }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}